<div class="marketing content-pages">

  <!-- <form ng-submit="submitForm()" ng-controller="FormController" novalidate>
    <label for="name">Name</label>
    <input type="text" name="name" ng-model="formData.name" ng-class="{'error' : errorName}">

    <label for="email">E-mail</label>
    <input type="email" name="email" ng-model="formData.email" ng-class="{'error' : errorEmail}">

    <label for="message">Message</label>
    <textarea name="message" ng-class="{'error' : errorTextarea}" ng-model="formData.message" cols="30" rows="10"></textarea>

    <input type="submit" value="Send!" name="submit">

    <div ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
  </form> -->



  <form ng-submit="submitForm()" ng-controller="FormController" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" ng-model="formData.name" ng-class="{'error' : errorName}">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" ng-model="formData.email" ng-class="{'error' : errorEmail}">
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" rows="3" name="message" ng-class="{'error' : errorTextarea}" ng-model="formData.message" cols="30" rows="10"></textarea>
      <!-- <p class="help-block">Example block-level help text here.</p> -->
      <div class="help-block" ng-class="{'submissionMessage' : submission}" ng-bind="submissionMessage"></div>
    </div>

    <input type="submit" class="btn btn-default btn-success" value="Submit" name="submit">

    <!-- <button type="submit" class="btn btn-default">Submit</button> -->


  </form>

</div>
