<div class="marketing content-pages">

  <div class="row">
    <div class="col-sm-12 col-xs-12 intro">
      <h4>We understand the installation is just as important as the quality of the window itself. </h4>
      <p>Even with a high quality product, an improper installation could result in building code violations, air infiltration, and more importantly, water infiltration that could damage the structure of your home.</p>
      <p>We work with the manufacturers to understand the proper installation techniques for the windows we use.</p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-4 col-xs-12 photo pull-right">
          <img src="images/window-replacement.jpg" alt="" />
        </div>
        <div class="col-sm-8 col-xs-12 process">
          <h4>The Window Installation Process.</h4>
          <p><span class="glyphicon glyphicon-ok" style="margin-right:10px;"></span>We will call you to schedule a time to come to your home to get your exact window and/or door measurements.</p>
          <p><span class="glyphicon glyphicon-ok" style="margin-right:10px;"></span>A manufacturing date is then scheduled.</p>
          <p><span class="glyphicon glyphicon-ok" style="margin-right:10px;"></span>Shortly after a manufacturing date is scheduled, we will call you with a choice of available installation dates and times.</p>
          <p><span class="glyphicon glyphicon-ok" style="margin-right:10px;"></span>Once the installation date is scheduled we will call you one business day before the installation date to confirm the scheduled date and time.</p>
          <p><span class="glyphicon glyphicon-ok" style="margin-right:10px;"></span>Installation times may vary, but typically we need about 2-3 hours to install one window.</p>
          <p><span class="glyphicon glyphicon-ok" style="margin-right:10px;"></span>The remainder of the contract price is due once the installation is complete.  The installer will collect the payment.</p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 col-xs-12 heatloss">
      <h4>Heat Loss Prevention.</h4>
      <p>It's said that windows are the third leading cause of heat loss. When seen though a thermal sensing camera, you can clearly see the difference energy efficient windows and doors will make.</p>
    </div>

    <div class="col-sm-6 col-xs-12 heatloss">
      <img src="images/thermal-house2.jpg">
    </div>
    <div class="col-sm-6 col-xs-12 heatloss">
      <img src="images/thermal-house1.jpg">
    </div>

  </div>

</div>
