<div class="jumbotron">
  <div class="title">
    <h1>Welcome to Rino Remodeling</h1>
    <p class="lead">
      We are a family owned Denver business, since 1996.</p>
  </div>
  <p><a class="btn btn-lg btn-success" ng-href="#/contact">Windows Start at $299 Installed!</a></p>
</div>

<div class="row marketing">
  <img class="pull-right window" src="images/efficient-window.png"><br>

  <h4>High quality, energy efficient replacement windows, siding and doors for homeowners across the Denver metro area.</h4>
  <p>
    We use only the best components and materials from leading American manufacturers. We are very happy to talk to you in person, over the phone, or at your home about any questions you might have in regard to our products and installation of your new windows.
    The unpredictability of energy prices has a direct effect on your home heating and cooling cost. Leaky spots around your home can lead to increased energy costs on your bill due to inefficient windows and sliding glass doors in Denver. In order to put yourself ahead of the game, Rino Remodeling can help you to prepare your home to be more energy efficient with better windows in Denver.
  </p>

  <h4>Our Other Services</h4>
  <h4>We remodel kitchens, bathrooms, build patios, basement remodels, install cedar, vinyl, and cement siding. We also do additions to houses including garage builds, extensions, fencing and painting.</h4>

  <h4>Why Choose Rino Remodeling?</h4>
  <p>
    We offer high quality, energy efficient replacement windows and doors from leading American manufacturers of sliding glass doors and windows. We have over 18 years of combined experience providing customers the most efficient windows, siding and interior finishing in Denver and surrounding areas. Our products are custom manufactured and installed to the manufacturer's standards. All work is protected by our Service Guarantee.
  </p>

  <h4>We are a small window company with no overhead and we work by referrals.</h4>
  <h4>We are not hiring subcontractors to do our work.</h4>

  <p>Even if well-installed, traditional windows are one of the biggest sources of heat either entering or leaving the home. The Energy Star ® rated double pane and triple pane windows we use not only keep air from passing into and out of your home, they keep heat from passing through the window. The space between the panes is filled with a noble gas that acts as additional insulation to make sure your home keeps cool or warm. These windows are specifically designed for our climate so you know they’re the best value for your home.</p>
</div>
