<div class="marketing content-pages">

  <div class="selectors row">
    <div class="col-sm-4 col-xs-4 materials-dropdown">
      <h3>Material Types</h3>
        <div ng-controller="MaterialsCtrl">
          <!-- Single button -->
          <div class="materials-btn btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              show <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>Vinyl</li>
              <li>Wood</li>
              <li>Fiberglass</li>
              <li>Composite Wood</li>
              <li>Clad-Aluminum</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="col-sm-4 col-xs-4 materials-dropdown">
      <h3>Window Styles</h3>
        <div ng-controller="MaterialsCtrl">
          <!-- Single button -->
          <div class="materials-btn btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              show <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>Slide</li>
              <li>Hung</li>
              <li>Casement</li>
              <li>Bay</li>
              <li>Bow</li>
              <li>Awning</li>
            </ul>
          </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-4 materials-dropdown">
      <h3>Door Styles</h3>
        <div ng-controller="MaterialsCtrl">
          <!-- Single button -->
          <div class="materials-btn btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              show <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>Sliding
              <li>French
              <li>Entry Door
            </ul>
          </div>
        </div>
    </div>
  </div>


  <hr>

  <h4>Replacement Vinyl Windows</h4>
  <ul>
    <li>Superior vinyl frame</li>
    <li>Superior components</li>
    <li>Mid-priced</li>
    <li>Multiple energy efficient options</li>
    <li>Multiple colors</li>
    <li>Maintenance free</li>
    <li>Lifetime warranty</li>
  </ul>

  <h4>Wood Windows</h4>
  <ul>
    <li>Pine wood frame</li>
    <li>Primed wood exterior</li>
    <li>Energy efficient options</li>
    <li>Must stain or paint</li>
    <li>Factory stain and paint available</li>
    <li>Limited warranty</li>
  </ul>

  <h4>Fiberglass Windows</h4>
  <ul>
    <li>Thin fibers of glass forming woven layers creating reinforcement and strength</li>
    <li>Rigid</li>
    <li>Mid-high priced</li>
    <li>Maintenance free</li>
    <li>Available to paint</li>
    <li>Lifetime warranty</li>
  </ul>

  <h4>Wood Clad-Aluminum</h4>
  <ul>
    <li>Cladding refers wrapping one material around another.</li>

    <li>Pine inside (other wood options available)</li>
    <li>Aluminum maintenance free exterior</li>
    <li>Multiple exterior colors include brown, green, red, black</li>
    <li>Energy efficient options</li>
    <li>Must stain or paint</li>
    <li>Factory stain and paint available</li>
    <li>Limited warranty</li>
  </ul>

  <br><br>
  <hr>

  <div class="row vendors">
    <h2 class="col-sm-12 col-xs-12" style="text-transform: uppercase; font-size: 34px;">We carry the following brands:</h2>

    <div class="col-sm-6 col-xs-12 logo-block">
      <a href="http://www.amerimaxwindows.com/" target="_blank"><img src="../images/amerimax.jpg" alt="Amerimax" /></a>
    </div>
    <div class="col-sm-6 col-xs-12 logo-block">
      <a href="http://www.jeld-wen.com/" target="_blank"><img src="../images/jeldwen.jpg" alt="Jeldwen" /></a>
    </div>

    <div class="col-sm-6 col-xs-12 logo-block">
      <a href="http://kensingtonhpp.com/" target="_blank"><img src="../images/kensington.jpg" alt="Kensington" /></a>
    </div>
    <div class="col-sm-6 col-xs-12 logo-block">
      <a href="http://www.sunrisewindows.com/" target="_blank"><img src="../images/sunrise.jpg" alt="Sunrise" /></a>
    </div>

    <div class="col-sm-3 col-xs-12 logo-block">
      <a href="http://www.pella.com/home/default.aspx" target="_blank"><img src="../images/pella.jpg" alt="Pella" /></a>
    </div>
    <div class="col-sm-3 col-xs-12 logo-block">
      <a href="http://www.reverebuildingproducts.com/default/windows.aspx" target="_blank"><img src="../images/revere.jpg" alt="Pella" /></a>
    </div>
    <div class="col-sm-3 col-xs-12 logo-block">
      <a href="http://www.milgard.com/" target="_blank"><img src="../images/milgard.jpg" alt="Milgard" /></a>
    </div>
    <div class="col-sm-3 col-xs-12 logo-block">
      <a href="http://www.andersenwindows.com/" target="_blank"><img src="../images/andersen.jpg" alt="Andersen" /></a>
    </div>

  </div>

</div>
